<p>
  {{homeTitle}}
</p>
<p>{{root.name}}</p>
<p>{{root.belt}}</p>

<button (click)="fireYellEvent($event)">Hit me</button>
<!-- <ng-content></ng-content> -->

<!-- property binding-->

<!-- <input value="{{myString}}"/>
<br>
<input required="{{myBoolean}}"/>
<br><br>
<button (click)="alertMe('i like you')">Click Me</button>
<br><br>
<label for="">Name:</label>
<input [(ngModel)] = "mydata.name" />
<br>
<label for="">Belt</label>
<input [(ngModel)] = "mydata.belt" />
<p>{{mydata.name}}</p>
<p>{{mydata.belt}}</p> -->
